
.brad-jellyfish {
    min-width: 100%;
    min-height: 100%;
}

.brad-p{
   font-family: 'Raleway'; 
   font-size: 22px;
   letter-spacing: 0px;
}

.wildlife-row {
    font-family: 'Raleway'; 
   font-size: 22px;
   letter-spacing: 0px;
}
