.container {
    border-style:solid;
    border-color: tomato;
    border-width: 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: x-large;
background-color: blueviolet;
height: 600px;
width: 900px;
justify-content: center;
align-items: center;
position: absolute;
text-align: center;

}


.image{
    border-radius: 50%;
 border-style: solid;
height: 200px;
width: 300px;
justify-content: center;


}

.undertext {
    margin: auto;
    justify-content: center;
    padding: 5px;
}



